certifi >= 14.05.14
six >= 1.10
python_dateutil >= 2.5.3
setuptools >= 21.0.0
urllib3 >= 1.15.1
ncloud-apikey >= 1.0.5
ncloud-server >= 1.1.1
ncloud-loadbalancer >= 1.1.0
ncloud-autoscaling >= 1.1.0
ncloud-monitoring >= 1.1.5
ncloud-cdn >= 1.1.0
ncloud-clouddb >= 1.1.0
ncloud-vserver >= 1.0.0
ncloud-vpc >= 1.0.0
ncloud-vnas >= 1.0.0
